.card {
    background-color: rgba(50,50,50,0.5) !important;
    border-radius: 20px;
    color: wheat;
}

.cross{
    background-color: #995109;
}

.card_color {
    background-color: rgb(44, 58, 82) !important;
}