.header{
  position: sticky;
  top: 0;
  z-index: 1000;
}

.mobileMenuButton {
  display: none;
}

.mobileMenuOpen{
  display: none;
  
}

.nav {
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: #b5b8be;;
    padding: 5px;
    box-shadow: 0 8px 6px -6px rgb(168, 168, 168);
    display: block;
  
    .navbutt_m{
          height: 200px;
          width: 100%;
          padding: 10px;
          color: white;
          gap: 10px;
    }

    .links {
      height: 100%;
    }

    .navpad{
      margin: auto;
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 80%;
    }

    .logo{
        align-items: center;
        display: flex;
        width: 150px;
        height: 50px;
        color: red;
        height: 100%;
        }
  
        .navbutt {
          padding: 10px;
          color: white;
          gap: 10px;
        }

    a {
      height: 100%;
      display: inline-flex;
      align-items: center;
      padding: 0 10px;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;

     
      &:hover {
        background-color: rgba(0, 0, 0, 0.4);
        color: rgb(194, 28, 28);
    }

      &.active {
        color: #de5c5c;
    }

      
    }
}

.linkunit:hover{
    color: rgb(80, 69, 199);
}


@media screen and (max-width: 1367px) {



}


@media screen and (max-width: 767px) { 
  
  .mobileMenuButton{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    
  }

  .mobileMenuOpen.active {
    max-height: 30px !important;
  }

  .mobileMenuOpen{
    width: 100%;
    max-height: 0px !important;
    display: block !important;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }

  .mobileMenuOpenNone{
    display: none;
  }

  .nav {

  
    .links {
      display: none;
    }


.navbutt {
          display: none;
        }


.navbutt_m{
  height: 25px;
  padding: 5px;
  width: auto;
  font-size: 14px;

}

  .link_w {
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }

  }

}

